@model AddressBook.Models.PhoneNumbers

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 41.5%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 10px;
    }

    #phoneNumberAddition {
        display: none;
    }
</style>

<table id="phoneNumberAddition" class="table table-hover table-responsive">
    <caption class="control-label col-md-2">Phone Numbers</caption>
    <tr>
        <th>Type</th>
        <th>Number</th>
    </tr>
    <tbody id="tbody">
    </tbody>
</table>


<div class="form-group">
    <div class="col-md-10" id="addBtn">
        <a href="#link" class = "btn btn-default">Add New Number</a>
    </div>
</div>

<script>
    $(document).ready(function () {
        var rowIdx = 0;

        $('#addBtn').on('click', function () {
            $("#phoneNumberAddition").css("display", "block");
            $('#tbody').append(`<tr id="R${++rowIdx}">
            <td>
                @Html.Editor("Type ", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("item_type", "", new { @class = "text-danger" })
            </td>
            <td>
                @Html.Editor("Number ", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("item_Number", "", new { @class = "text-danger" })
            </td>
    <td class="text-center">
        <a href="#link" class="remove">Remove</a>
    </td>
</tr>`);
        });
    })
</script>

<script>
    $(document).ready(function () {
        $('#tbody').on('click', '.remove', function () {
            $(this).closest('tr').remove();
            var rowcount = $('#phoneNumberAddition tr').length;
            if (rowcount <= 1) {
                $("#phoneNumberAddition").css("display", "none");
                //$('#HideButton').css("pointer-events", "visible");
                //$('#ViewButton').css("pointer-events", "visible");
                //$('.common').removeAttr('disabled');
            }
        });
    })
</script>