<div class="jumbotron">
    <h1>Address Book</h1>
    <p class="lead">Address Book is a contact application that allow users to add contact information along with the phone numbers. Each user needs to register to the application to access it. Once registered, user can login to the application to access their stored contacts. User can edit/delete the information of its contacts. Each login user could create multiple contacts and each contact could have multiple phone numbers (ex: home, office etc.).</p>
</div>