@model IEnumerable<AddressBook.Models.ContactsInfo>

@{
    ViewBag.Title = "Contacts List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<style>
    .lead {
        max-width: 350px;
        overflow: auto;
    }

    .Edit-contacts {
        float: right;
        border: 1px solid black;
        padding-right: 30px;
        max-width: 350px;
        display: none;
    }
</style>
<h2 class="page-name">Contacts List</h2>

<div class="lead">
    <hr />
    <table class="table table-bordered .table-hover .table-responsive">
        <tr>
            <th>
                Names:
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.fullName, "Edit", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>