@model IEnumerable<AddressBook.Models.ContactsInfo>

@{
    ViewBag.Title = "Contacts List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<style>
    .lead {
        max-width: 350px;
        overflow: auto;
    }

    .Edit-contacts {
        float: right;
        border: 1px solid black;
        padding-right: 30px;
        max-width: 350px;
        display: none;
    }
</style>
<h2 class="page-name">Contacts List</h2>
@Html.ActionLink("Create New Contact", "Create", null, new { @class = "label" })
@Html.ActionLink("Delete", "Delete", null, new { @class = "label" })
<div class="lead">
    <hr />
    <table class="table table-bordered .table-hover .table-responsive">
        <tr>
            <th>
                Names:
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.fullName, "Edit", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>
<script type="text/javascript">
    $.ajax({
        type: "GET",
        url: '/TestController/DeleteTest?id=10',
        contentType: 'application/json; charset=utf-8',
        success: function (data) {
            if (data) {
                // Works
            }
        },
        error: function (erro) {
            console.debug(erro);
        }
    });
</script>