@model IEnumerable<AddressBook.Models.ContactsInfo>

@{
    ViewBag.Title = "Contacts List";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<style>
    .lead {
        max-width: 350px;
        overflow: auto;
    }

    .Edit-contacts {
        float: right;
        border: 1px solid black;
        padding-right: 30px;
        max-width: 350px;
        display: none;
    }
</style>
<h2 class="page-name">Contacts List</h2>
@Html.ActionLink("Create New Contact", "Create", null, new { @class = "label" })
@*@Html.ActionLink("Delete", null, null, new { @id = "myLink", onclick = "numberDelete(" + item.ID + ")" })*@
@*@Html.ActionLink("Delete", null, null, new { @id = "myLink", onclick = "numberDelete(" + item.ID + "," + Model.ID + ")" })*@
<div class="lead">
    <hr />
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <th colspan="2">
                Names:
            </th>
            @*<th></th>*@
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.fullName, "Edit", new { id = item.ID })
                </td>
                <td>
                    @Html.ActionLink("Delete", null, null, new { @id = "myLink", onclick = "numberDelete(" + item.ID + ")" })
                </td>
            </tr>
        }

    </table>
</div>
<script>
    function numberDelete(contactId) {
        alert("Hi");
        alert("please");
        alert("Entered the API delete request function");
        $.ajax({
            url: "/api/Contacts/" + contactId,
            method: "DELETE",
            async: false,
            success: function (data) {
                alert("Number Deleted");
                alert(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status == 404) {
                    alert(thrownError);
                    alert("Error occured");
                    $('#someText').text('Cannot find this record');
                }
            }
        });
    }
</script>