
@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<h2 class="page-name">Login </h2>

<div id="loginDiv" style="width:50%">
    <div class="form-group">
        <label for="txtEmail">Email ID </label>
        <input type='email' name="email" id="loginEmail" class="form-control" placeholder="example@xyz.com">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" id="loginPwd" class="form-control">
    </div>
    <button id="btnLogin" class="btn btn-default">Submit</button>
    <button id="btnCancel" class="btn btn-default">Cancel</button>
</div>
<div>
    <label id="msg"></label>
</div>
@Html.ActionLink("Register", "Register", null, new { @class = "label" })
@*@Html.ActionLink("Delete", "Delete", null, new { @class = "label" })*@
<script>
    $(document).ready(function () {
        $("#btnLogin").on('click', function () {
            //var data = { Email: $("#loginEmail").val().trim(), Password: $("#textPwd").val().trim(), ConfirmPassword: $("#loginPwd").val().trim() };
            $.ajax(
                {
                    url: "/TOKEN",
                    type: "POST",
                    data: $.param({ grant_type: 'password', username: $("#loginEmail").val(), password: $("#loginPwd").val() }),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                    success: function (resp) {
                        sessionStorage.setItem('userName', resp.userName);
                        sessionStorage.setItem('accessToken', resp.access_token);
                        var authHeaders = {};
                        authHeaders.Authorization = 'Bearer ' + resp.access_token;
                        $.ajax({
                            url: "/api/values",
                            type: "GET",
                            headers: authHeaders,
                            success: function (response) {
                                window.location.href = '/Home/Index';
                            }
                        });

                    },
                    error: function () {
                        $("#msg").text("Authentication failed");
                    }
                })
        });
        $("#btnCancel").on('click', function () {
            $("#loginEmail").val("");
            $("#loginPwd").val("");
        });
    })
</script>