@using AddressBook.Models
@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<h2 class="page-name">Enter Your Information </h2>

<div id="loginDiv" style="width:50%">
    <div style="width:50%">
        <div class="form-group">
            <label for="txtEmail">Email ID </label>
            <input type='email' name="email" id="txtEmail" class="form-control" placeholder="example@xyz.com">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" id="textPwd" class="form-control">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" id="txtConfirmPwd" class="form-control">
        </div>
    </div>
    <div>
        <label id="error" class="text-danger"></label>
    </div>
    <button id="register" class="btn btn-default">Submit</button>
    @Html.ActionLink("Cancel", "Login", null, new { @class = "btn btn-default" })
</div>

<script>
    @{
        ReferenceVariable test = new ReferenceVariable();
    }
    $(document).ready(function () {
        $("#register").on('click', function () {
            var data = { Email: $("#txtEmail").val().trim(), Password: $("#textPwd").val().trim(), ConfirmPassword: $("#txtConfirmPwd").val().trim() };
            $.ajax({
                url: "@test.registerAPIURL",
                type: 'POST',
                data: data,
                success: function (resp) {
                    alert("Registration Successfull. Please login to continue...")
                    window.location.href = '@test.redirectToLoginPage';
                },
                error: function (request, message, error) {
                    var response = null;
                    var errors = [];
                    var errorsString = "";
                    if (request.status == 400) {
                        try {
                            response = JSON.parse(request.responseText);
                        }
                        catch (e) {
                        }
                    }
                    if (response != null) {
                        var modelState = response.ModelState;
                        for (var key in modelState) {
                            if (modelState.hasOwnProperty(key)) {
                                errorsString = (errorsString == "" ? "" : errorsString + "<br/>") + modelState[key];
                                errors.push(modelState[key]);//list of error messages in an array
                            }
                        }
                    }
                    if (errorsString != "") {
                        $("#error").html(errorsString);

                    }
                }

            })
        });
    })
</script>